{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="produit py-3 px-3">
    <h1>Inscription</h1>
    <div class="container">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn boutonsLacarte">Inscription</button>
    {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
